.footer-wrapper {
  width: 100%;
  display: inline-block;
  background-color: #F9F9F9;
  .container {
    padding: 80px 0 60px 0;
  }
}
.img-footer {
  display: inline-block;
  width: 35%;
  float: left;
  text-align: left;
}
.list-footer {
    display: inline-block;
    width: 45%;
    float: left;
  .list-menu {
    width: 150px;
    text-align: left;
    float: left;
    span {
      color: #292929;
      font-size: 12px;
    }
    display: inline-block;
    li {
      font-size: 14px;
      list-style-type: none;
      color: #6C6C6C;
      margin: 10px 0;
      a {
        cursor: pointer;
      }
    }
  }
}
.social-media {
  width: 20%;
  display: inline-block;
  float: left;
  span {
    width: 100%;
    display: inline-block;
  }
  .icon {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
}
.legancy {
  border-top: 2px solid #6C6C6C;
  height: 78px;
  line-height: 78px;
  text-align: center;
  span {
    color: rgba(108,108,108,0.5);
    font-size: 12px;
  }
}