html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1000px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 1rem 2rem;
}
.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.color- {
  &blue {
    color:#28458F;
  }
  &gray {
    color: #434343;
  }
  &brown {
    color: rgba(0, 0, 0, 0.4);
  }
}
.f-bold {
  font-weight: bold;
}
.fz- {
  &12 {
    font-size: 12px;
  }
  &14 {
    font-size: 14px;
  }
  &15 {
    font-size: 15px;
  }
  &16 {
    font-size: 16px;
  }
  &18 {
    font-size: 18px;
  }
  &36 {
    font-size: 36px;
  }
  &56 {
    font-size: 56px;
  }
  &20 {
    font-size: 20px;
  }
}